---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?locale=en-US&orientation=landscape&per_page=1&query=denver,co&size=large
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3785b254a2aed835032ccc327141ad2"
      X-Ratelimit-Remaining:
      - '20000'
      X-Server:
      - anteater
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":8867237,"width":6000,"height":4000,"url":"https://www.pexels.com/photo/woman-in-black-blazer-wearing-a-headset-8867237/","photographer":"Yan
        Krukov","photographer_url":"https://www.pexels.com/@yankrukov","photographer_id":2905570,"avg_color":"#868583","src":{"original":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg","large2x":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/8867237/pexels-photo-8867237.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"alt":"Free
        stock photo of adult, business, call center"}],"total_results":525,"next_page":"https://api.pexels.com/v1/search/?locale=en-US\u0026orientation=landscape\u0026page=2\u0026per_page=1\u0026query=denver%2Cco\u0026size=large"}'
  recorded_at: Sun, 24 Apr 2022 01:51:12 GMT
recorded_with: VCR 6.1.0
