---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=pueblo,co&open_at=1650902087&term=chinese%20restaurant
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer -fYmQz1kdMVIfSlwLX7ONyGw6Ld3DRiqqvf_094IVe3TG_i_TQra_6TbaFwafL2DPVz-_y5JDVmvpWt6o5eJprTpK06bAyCRBGwgQ-RcU848JevC-uapPf3f-5JlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4957'
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-555fff7d67-694br; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - d9c03d14628b5628
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-73-48-useast1aprod
      X-Extlb:
      - 10-65-73-48-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "wKb2ITmSRYN6I7Py14YPUA", "alias": "panda-express-pueblo",
        "name": "Panda Express", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/WrEiyuNr0RYZi9wxtAA3Ug/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/panda-express-pueblo?adjust_creative=Z7MIuJVs0LPN8JMQpXm3xg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z7MIuJVs0LPN8JMQpXm3xg",
        "review_count": 29, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "hotdogs", "title": "Fast Food"}], "rating": 2.0, "coordinates":
        {"latitude": 38.2325574, "longitude": -104.6628568}, "transactions": ["delivery",
        "pickup"], "price": "$$", "location": {"address1": "2001 S. Pueblo Blvd.",
        "address2": "", "address3": "", "city": "Pueblo", "zip_code": "81005", "country":
        "US", "state": "CO", "display_address": ["2001 S. Pueblo Blvd.", "Pueblo,
        CO 81005"]}, "phone": "+17195649000", "display_phone": "(719) 564-9000", "distance":
        8872.987172857325}, {"id": "lup0YSMn33aH_SxTBk1qcA", "alias": "new-china-kitchen-2-colorado-springs",
        "name": "New China Kitchen 2", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/iW6w7-WM-8Y2kZ-QPEpZcg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/new-china-kitchen-2-colorado-springs?adjust_creative=Z7MIuJVs0LPN8JMQpXm3xg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=Z7MIuJVs0LPN8JMQpXm3xg",
        "review_count": 73, "cate[...]
